@page
@model IndexModel
@{
    ViewData["Title"] = "News";

    var offset = Model.news.Pagination.Count + Model.news.Pagination.Offset;

    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Source</td>
                <td>News Article</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var article in Model.news.Data)
            {
                <tr>
                    <td>@article.PublishedAt.ToShortDateString()
                        <br />
                        @article.PublishedAt.TimeOfDay
                    </td>
                    <td>
                        @article.Source
                    </td>
                    <td>
                        <a href="@article.Url">@article.Title</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
